<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--            <endpoint address="http://localhost:8732/Design_Time_Addresses/SunriverNotificationsWcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
                contract="ServiceReference5.IService1" name="WSHttpBinding_IService1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>-->
            <endpoint address="http://localhost:8732/Design_Time_Addresses/SunriverNotificationsWcfService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference5.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>