<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1" />
                <binding name="WSHttpBinding_IService11">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IService12" />
                <binding name="WSHttpBinding_IService13" />
            </wsHttpBinding>
        </bindings>
        <client>

            <endpoint address="http://diamond-laptop/SunriverNotificationsWcfService/SunriverNotificationsWcfService.Service1.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService13"
                contract="ServiceReference4.IService1" name="WSHttpBinding_IService13">
                <identity>
                    <servicePrincipalName value="host/Diamond-Laptop" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>