<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PushNotifications" value="PushNotificationsConnectionStringTest"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="PushNotificationsConnectionStringTest" connectionString="Data Source=DIAMOND-LAPTOP\SQLEXPRESS; Initial Catalog=SunriverApp; User ID=MikeSamuels; Password=diamond222" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IService1">
                <security mode="None"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:18732/Design_Time_Addresses/SunriverNotificationsWcfService/Service1/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference5.IService1" name="BasicHttpBinding_IService1">
              <identity>
                <servicePrincipalName value="host/Diamond-Laptop"/>
              </identity>            
          </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
