<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService1" />
                <binding name="WSHttpBinding_IService11" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.0.0.254/SunriverNotificationsWcfService/SunriverNotificationsWcfService.Service1.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService1"
                contract="ServiceReference1.IService1" name="WSHttpBinding_IService1">
                <identity>
                    <servicePrincipalName value="host/Diamond-Laptop" />
                </identity>
            </endpoint>
            <endpoint address="http://10.0.0.253/SunriverNotificationsWcfService/SunriverNotificationsWcfService.Service1.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService11"
                contract="ServiceReference2.IService1" name="WSHttpBinding_IService11">
                <identity>
                    <servicePrincipalName value="host/Diamond-Laptop" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>