<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WriteLogEntries" value="true" />
    <add key="PushNotificationsAlert" value="PushNotificationsAlertConnectionStringTest" />
    <add key="PushNotificationsEmergency" value="PushNotificationsEmergencyConnectionStringTest" />
    <add key="PushNotificationsNewsfeed" value="PushNotificationsNewsfeedConnectionStringTest" />
    <add key="PushNotificationsEmergencyMaps" value="PushNotificationsEmergencyMapsConnectionStringTest" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="PushNotificationsAlertConnectionStringTest" connectionString="Data Source=DIAMOND-LAPTOP\SQLEXPRESS; Initial Catalog=SunriverApp; User ID=MikeSamuels; Password=diamond222" providerName="System.Data.SqlClient" />
    <add name="PushNotificationsAlertConnectionStringProduction" connectionString="Data Source=166.62.44.203\MSSQLSERVER2012; Initial Catalog=SROAlerts; User ID=WebApp; Password=Wp#p18mm" providerName="System.Data.SqlClient" />
    <add name="PushNotificationsEmergencyConnectionStringTest" connectionString="Data Source=DIAMOND-LAPTOP\SQLEXPRESS; Initial Catalog=SunriverApp; User ID=MikeSamuels; Password=diamond222" providerName="System.Data.SqlClient" />
    <add name="PushNotificationsEmergencyConnectionStringProduction" connectionString="Data Source=166.62.44.203\MSSQLSERVER2012; Initial Catalog=SROEmergency; User ID=WebApp; Password=Wp#p18mm" providerName="System.Data.SqlClient" />
    <add name="PushNotificationsNewsfeedConnectionStringTest" connectionString="Data Source=DIAMOND-LAPTOP\SQLEXPRESS; Initial Catalog=SunriverApp; User ID=MikeSamuels; Password=diamond222" providerName="System.Data.SqlClient" />
    <add name="PushNotificationsNewsfeedConnectionStringProduction" connectionString="Data Source=166.62.44.203\MSSQLSERVER2012; Initial Catalog=SRONewsFeed; User ID=WebApp; Password=Wp#p18mm" providerName="System.Data.SqlClient" />
    <add name="PushNotificationsEmergencyMapsConnectionStringTest" connectionString="Data Source=DIAMOND-LAPTOP\SQLEXPRESS; Initial Catalog=SunriverApp; User ID=MikeSamuels; Password=diamond222" providerName="System.Data.SqlClient" />
    <add name="PushNotificationsEmergencyMapsConnectionStringProduction" connectionString="Data Source=166.62.44.203\MSSQLSERVER2012; Initial Catalog=SROEmergencyMaps; User ID=WebApp; Password=Wp#p18mm" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:18732/Design_Time_Addresses/SunriverNotificationsWcfService/Service1/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1">
        <identity>
          <servicePrincipalName value="host/Diamond-Laptop" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>