<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PushAlerts" value="PushAlertsConnectionString"/>
    <add key="WriteLogEntries" value="true"/>
  </appSettings>  
  
  <connectionStrings>
    <clear/>
    <add name="PushAlertsConnectionString" connectionString="Data Source=10.0.0.254\DIAMOND-LAPTOP\SQLEXPRESS; Initial Catalog=SunriverApp; User ID=Diamond; Password=diamond222" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_IService1">
              <security mode="None" />
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:18732/Design_Time_Addresses/SunriverNotificationsWcfService/Service1/Service1.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
              contract="ServiceReference5.IService1" name="BasicHttpBinding_IService1">
            <identity>
              <servicePrincipalName value="host/Diamond-Laptop" />
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>